CMakeLists.txt.user
3D_polyhedral_surface/*
halfedge_data_structure/*
BGL/eigen/*
BGL/build/*
BGL/*
surface_mesh/eigen/*

libgmp-10.dll
libmpfr-4.dll
build*
.idea
/polygon_mesh_processing/eigen/
/polygon_mesh_processing/data/
/3D_polyhedral_surface/data/
