CMakeLists.txt.user
3DPolyhedralSurface/*
HalfEdgeDataStructure/*
BGL/eigen/*
BGL/build/*
BGL/*
SurfaceMesh/eigen/*

libgmp-10.dll
libmpfr-4.dll
build*
.idea
/polygon_mesh_processing/eigen/
/polygon_mesh_processing/data/
